/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap'); */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    min-height: 100vh;
    background-color: #f5fcf4;
}
.container{
    max-width:1200px;
    margin:0 auto;

}
.wrapper{
    padding:60px 20px;
    text-align: center;
}
.title{
    font-size: 32px;
    color:#3f3c3c;
}
.switch input{
    opacity: 0;
}
.switch {
    display:inline-block;
    width:60px;
    height:32px;
    position:relative;
    cursor: pointer;

}
.slider{
    position:absolute;
    /* background-color: #deebdd; */
    background: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 35px;
}
.slider::before{
    content:"";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius:50%;
    background-color: #fff;
    bottom:4px;
    left:4px;
    transition:all .3s ease-in-out;
}
input:checked+.slider::before{
    transform:translateX(26px);
}

/* .pricing{
    color:#5b6359;
    display: flex;
    justify-content: center;
    align-items:center;
    padding:50px 0;

} */
.pricing label{
    margin:0 20px;
}
.pricing-main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.pricing-box{
    background:#fff;
    padding: 50px 40px;
    border-radius:12px;
    align-self: center;
}
.box-title{
    color:#3f3c3c;
    font-size: 18px;
    margin-bottom: 30px;
}
.price-annually,
.price-monthly{
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#3b413a;
}
.price-monthly{
    display:none;
}
.price{
    font-size: 65px;
    padding-left:7px;
}
ul{
    list-style-type:none;
    padding:35px 0;
}
ul li{
    color:#3f3c3c;
    border-bottom:1px solid #5b6359;
    padding:18px 0;
}
ul li:first-child{
    border-top:1px solid #5b6359;

}
a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    display: block;
    padding:16px 0;
    color:#fff;
    border:1px solid transparent;
    border-radius:7px;
}
a:hover{
    color:#5b6359;
    background: transparent;
    border-color:#5b6359;
}
.pricing-box.featured{
    background: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    padding:80px 40px;
    transform: scale(1.05);
}
.pricing-box.featured p{
    color:#5b6359;
}
.pricing-box.featured ul li{
    color:#5b6359;
}
.pricing-box.featured a{
    background: #f5fcf4;
    color:#a2de96;
}
.pricing-box.featured a:hover{
    color:#fff;
    border-color:#fff;
    background: transparent;
}

@media only screen and (max-width:1024px){
    body{
        font-size: 14px;
    }
    .price{
        font-size: 50px;
    }
    .pricing-box{
        padding: 30px 40px;
    }
    .pricing-box.featured{
        padding: 70px 30px;
    }
}
@media only screen and (max-width:820px){
    .pricing-main{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .price{
        font-size: 50px;
    }
    .pricing-box{
        padding: 50px ;
    }
    .pricing-box.featured{
        transform: scaleX(1);
        padding: 50px ;
    }
}
